{
  "extends": ["react-app", "standard"],
  "rules": {
    "react/jsx-first-prop-new-line": [1, "multiline"],
    "react/jsx-max-props-per-line": [
      1,
      {
        "maximum": 1,
        "when": "always"
      }
    ],
    "react/jsx-closing-bracket-location": [1, "tag-aligned"],
    "react/jsx-sort-props": [1, { "callbacksLast": true }],
    "no-undef-init": "off",
    "indent": "off",
    "@typescript-eslint/indent": ["error", 2],
    "no-use-before-define": "off"
  }
}
